@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ddeeff;
}

.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 32px;
  font-weight: bold;
  font-size: 1.2rem;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a {
  text-decoration: none;
  color: black;
}

.brand .logo {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navlinks .navlink {
  margin-right: 24px;
  color: black;
  text-decoration: none;
  transition: 1s;
  border-bottom: 2px solid transparent;
}

.navlinks .navlink:hover {
  border-color: black;
}

.view-work-button {
  color: white;
  background-color: black;
  padding: 16px 32px;
  border-radius: 8px;
  border: 0px;
  font-weight: bold;
}

.view-work-button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 300px;
  margin-top: 5rem;
}

.personal-info {
  width: 400px;
  margin-left: 7rem;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.description {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  letter-spacing: 1.6;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.about-me {
  width: 30%;
  margin-right: 5rem;
}

.about-me p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.6;
}

.footer {
  margin-left: 2rem;
}

.footer ul {
  display: flex;
  list-style: none;
  margin: 1rem;
}

.footer li {
  padding: 0.4rem;
  border: 1px solid black;
  margin-right: 1rem;
  border-radius: 25px;
}
