@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 32px;
  font-weight: bold;
  font-size: 1.2rem;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand a {
  text-decoration: none;
  color: black;
}

.brand .logo {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navlinks .navlink {
  margin-right: 24px;
  color: black;
  text-decoration: none;
  transition: 1s;
  border-bottom: 2px solid transparent;
}

.navlinks .navlink:hover {
  border-color: black;
}

.view-work-button {
  color: white;
  background-color: black;
  padding: 16px 32px;
  border-radius: 8px;
  border: 0px;
  font-weight: bold;
}
